<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <title>Share Debrid</title>
        <!-- css -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <script>
            $(document).ready(function(){
                $("#formulaire").submit(function(){
                    $.ajax({type:"POST", data: $(this).serialize(), url:"post.php",
                        success: function(data){
                            $("#post").html(data);
                        },
                        error: function(){
                            $("#post").html('Une erreur est survenue.');
                        }
                    });
                    return false;
                });
            });

        </script>
    </head>
    <body>
        <div class="container" style="padding: 40px;">
            <div class="navbar">
                <div class="navbar-inner" style="background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(242, 242, 242));">
                    <div class="container" style="width: auto;">
                        <div class="brand">Share Debrid</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <form role="form" id="mainForm" method="POST" action="/unrestrict">
                        <div class="form-group">
                            <label for="inputSourceUrl">Source url</label>
                            <input type="url" class="form-control" id="inputSourceUrl"
                                   placeholder="http://rapidshare.com/file/lol.avi">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Un-restrict">
                    </form>
                </div>
                <div class="span6">
                    <a href=""></a>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="/js/bootstrap.js"></script>
    </body>
</html>
{% endautoescape %}