<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <title>Share Debrid</title>
        <!-- css -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <!-- js -->
        <script src="/js/jquery-1.11.1.min.js"></script>
        <script src="/js/bootstrap.js"></script>

        <script>
            // What happens when the user submits the form
            $(document).ready(function(){
                $("#mainForm").submit(function(e){
                    e.preventDefault()
                    var urlUnrestrict = $("#inputSourceUrl").val();
                    $.ajax({
                        type: 'post',
                        url: '/unrestrict',
                        data: JSON.stringify({'url': urlUnrestrict}),
                        contentType: 'application/json',
                        success: function(data){
                            var parsed = $.parseJSON(data);
                            $('#unrestrictedUrl').attr("href", parsed['unrestrictedUrl']);
                            $('#unrestrictedUrl').text(parsed['unrestrictedUrl']);
                        }
                    })
                });
            });
            //What happens when the user fetches his history
            $(document).ready(function(){
                $("#previousLinks").click(function(){
                    $.ajax({
                        type: 'get',
                        url: '/files',
                        success: function(data){
                            var parsed = $.parseJSON(data);
                            $("#historyUnrestricted .list-group-item").remove();
                            $("#historySource .list-group-item").remove();
                            for(var i = 0; i < parsed.length; i++){
                                var unrestrictedUrl = parsed[i]['unrestrictedUrl'];
                                var sourceUrl = parsed[i]['sourceUrl'];
                                $("#history .span12").prepend('<div class="navbar navbar-default" role="navigation">' +
                                                      '<div class="navbar-inner">' +
                                                      '<ul class="nav navbar-nav" id="historySource">' +
                                                      '<li><a href="' + unrestrictedUrl + '">' +
                                                      unrestrictedUrl + '</a></li>' +
                                                      '<li><a href="' + sourceUrl + '">' +
                                                      sourceUrl + '</a></li>' +
                                                      '</ul>' +
                                                      '</div>' +
                                                      '</div>');
                            }
                        }
                    })
                })
            });
        </script>
    </head>
    <body>
        <div class="container" style="padding: 40px;">
            <div class="navbar">
                <div class="navbar-inner" style="background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(242, 242, 242));">
                    <div class="container" style="width: auto;">
                        <div class="brand">Share Debrid - User: {{user.nickname()}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <form role="form" id="mainForm" action="#">
                        <div class="form-group">
                            <label for="inputSourceUrl">Source URL: </label>
                            <input type="url" class="form-control" id="inputSourceUrl"
                                   placeholder="http://rapidshare.com/file/lol.avi">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Un-restrict">
                    </form>
                </div>
                <div class="span9">
                    <label for="unrestrictedUrl">Unrestricted URL:</label>
                    <a href="" id="unrestrictedUrl"></a>
                </div>
            </div>
            <div class="row" style="padding-bottom: 20px;">
                <div class="span3">
                    <button class="btn" id="previousLinks">Previous links</button>
                </div>
            </div>
            <div class="row" id="history">
                <div class="span12">
                </div>
            </div>
        </div>
    </body>
</html>
{% endautoescape %}